<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        #test{
            font-size: 12em;
            color: bisque;
            background-color: blue;
            width: 200px;
            height: 200px;
        }
        #out01{
            background-color: blue;
            width: 200px;
            height: 200px;
        }
        #in01{
            background-color: blue;
        }
    </style>
</head>
<body>
<h1>测试01</h1>
<div id="test out01">
    <div id="test in01">

    </div>
</div>
</body>
</html>